.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.profile .img-container {
  width: 140px;
  height: 140px;
}
.profile .img-container img {
  width: 100%;
  height: 100%;
}
.profile .title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}
.profile .sub-title {
  margin-top: 15px;
  color: #666;
}

.time-table {
  margin: 70px 20px 0 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 25px;
}
.time-table .days p {
  text-align: center;
}
.time-table .days .sub-title {
  color: #666;
  margin-bottom: 20px;
}
.time-table .days .title span {
  font-size: 42px;
  font-weight: 600;
}
.time-table .time-sets ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.time-table .time-sets li p:first-child {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.time-table .time-sets li p:last-child {
  color: #666;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.refresh-btn-container {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
}
.refresh-btn-container button {
  width: 40px;
  height: 40px;
}
.refresh-btn-container button ion-icon {
  font-size: 40px;
  color: #dd1a1a;
}
